.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16x;
  line-height: 20px;
  margin: 108px 0 0;
  align-self: flex-end;
  color: #ffffff;
}
