.intro {
  padding-left: 148px;
}
.intro__title {
  max-width: 830px;
  max-height: 174px;
  font-size: 54px;
  padding-top: 92px;
  line-height: 54px;
  font-weight: 900;
  margin: 0;
}
.intro__text-citation,
.intro__text-author {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin: 0;
}
.intro__text-citation {
  max-width: 738px;
  max-height: 136px;
  padding-top: 40px;
}
.intro__text-author {
  padding-top: 10px;
  max-width: 732px;
  text-align: right;
  max-height: 34px;
}
.intro__text-description {
  max-width: 722px;
  max-height: 181px;
  font-size: 16px;
  line-height: 163%;
  padding-top: 32px;
}
@media screen and (max-width: 768px) {
  .intro {
    padding-left: 24px;
  }
  .intro__title {
    max-width: 707px;
    max-height: 147px;
    font-size: 45px;
    padding-top: 90px;
    line-height: 49px;
  }
  .intro__text-citation,
  .intro__text-author,
  .intro__text-description {
    max-width: 720px;
  }
  .intro__text-citation {
    padding-top: 50px;
  }

  .intro__text-description {
    max-height: 182px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding-left: 16px;
  }
  .intro__title {
    max-width: 288px;
    max-height: 175px;
    font-size: 32px;
    padding-top: 64px;
    line-height: 35px;
  }
  .intro__text-citation,
  .intro__text-author,
  .intro__text-description {
    max-width: 288px;
  }
  .intro__text-citation {
    max-height: 300px;
    line-height: 30px;
  }
  .intro__text-author {
    line-height: 34px;
  }
  .intro__text-description {
    max-height: 442px;
  }
}
