.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.intro__title {
  max-width: 830px;
  height: 173.92px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}
.intro__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}
.intro__text-citation {
  padding-bottom: 215px;
}
.intro__text-author {
  margin: 0;
}
.intro__text-description {
  width: 480px;
  height: 273px;
}
