.lead {
  display: flex;
  flex-direction: column;

  position: relative;
  box-sizing: border-box;
}

.lead__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.lead__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.lead__image {
  width: 984px;
  height: 615px;
  left: 148px;
  top: 562px;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
}
