.photo-grid {
  padding: 118px 53px 92px 43px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}
.photo-grid_item {
  max-width: 100%;
  max-height: 213px;
}
@media screen and (max-width: 768px) {
  .photo-grid {
    padding: 64px 24px 88px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .photo-grid_item {
    width: 352px;
    max-height: 264px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    padding: 38px 16px 62px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 12px;
  }
  .photo-grid_item {
    max-width: 100%;
    max-height: 216px;
  }
}
